*{
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
    color: aliceblue;
    margin: 0 auto;
    width: 1300px;
}


#jojo{
    background-color: black;
}
.jojo h1{
color: aqua; 
font-size: 100px;
font-family: monospace;
font-weight: 300;
text-align: center;
background-color: white;
padding: 5px;
margin: 50px ;
border-radius: 15px;
border: 5px solid aqua;
}
ul{
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: space-around;
}
li{
    list-style-type: none;
    color: white;
}
li a{
    color: green;
}
li a:hover{
    text-decoration: none;
    color: white;
}
input, button, textarea{
    display: block;
    margin: 5px;
    padding: 10px;
    width: 60%;
    resize: none;
    border: none;
    outline: none;
}
.sec11{
    color: orangered;
}
.sec12{
    color: orangered;
}
.big{
    width: 65%;
}
.small{
    width: 35%;
}
.semifooter{
    background-color: rgb(26, 25, 25);
    width: 1300px;
}